h3 Log in to tag your friends!
hr

#fb-root
fb:login-button(autologoutlink="true", perms="read_stream, publish_stream") Login with Facebook
hr

div.facepile
  fb:facepile(href="http://www.facebook.com/kudoshare", width="150px", max_rows="1")
