!!!
html
  head
    title= title
    script(src='./javascripts/jquery.min.js')
    script(src='./javascripts/jquery.timeago.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body!= body