!!!
html
  head
    title= title
    script(src='./javascripts/jquery.min.js')
    script(src='./javascripts/jquery-ui-1.8.15.custom.min.js')
    //script(src='./javascripts/jquery.autocomplete.min.js')
    script(src='./javascripts/jquery.tokeninput.js')
    script(src='./javascripts/jquery.timeago.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/jquery-ui.css')
  body!= body